virtualenv
jupyter
numpy
scipy
pandas
pandas-profiling
matplotlib
seaborn
scikit-learn
statsmodels
networkx
tqdm
feather-format
joblib
lightgbm
xgboost
catboost
tensorflow
keras
dgl
deepctr
request
beautifulsoup4
optuna
lime
shap
featuretools
category_encoders
opencv-python
opencv-contrib-python
ipykernel
mecab-python-windows
neologdn
gensim